@import "../../global";

.intro {
  
  background-color: white;
  display: flex;

  .left {
    flex: 0.6;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .imgContainer {
      overflow: hidden;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      border: none;

      clip-path: circle(50% at 50% 50%);
      width: 700px;
      height: 700px;
      // background-color: $mainColor;

      // clip-path: polygon(85% 0, 100% 50%, 85% 100%, 10% 100%, 34% 50%, 10% 0);
      // width: 800px;
      // height: 750px;
      background: linear-gradient(
        230deg,
        rgb(251, 251, 251) 25%,
        $mainColor 80%
      );

      img {
        position: absolute;
        margin-right: 100px;
        margin-bottom: 0px;
        height: 80%;
      }
    }
  }

  .right {
    flex: 0.7;
    position: relative;
    margin-left: 100px;

    .wrapper {
      width: 100%;
      height: 80%;
      padding-left: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        font-size: 80px;
        margin: 10px 0;
      }

      h2 {
        font-size: 45px;
      }

      h3 {
        font-size: 40px;

        span {
          font-size: inherit;
          color: $mainColor;
        }
      }
    }
  }
  a {
    position: absolute;
    left: 50%;
    bottom: 0px;

    img {
      width: 50px;
      height: 50px;
      margin-bottom: 25px;
      animation: arrowBlink 2s infinite;
    }

    @keyframes arrowBlink {
      100% {
        opacity: 0;
      }
    }
  }
}
