@import "../../global";

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  // background-color: black;g
  
  .photo {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // overflow: hidden;
    overflow: hidden;
    z-index: 2;
    
    .imgContainer {
      position: relative;
      overflow: hidden;
      height: 500px;
      width: 500px;
      clip-path: circle(50% at 50% 50%);
      background: linear-gradient(230deg, rgba(255, 255, 255, 0.6) 30%, $mainColor 70%);
      // backdrop-filter: blur(7px);
      // -webkit-filter: drop-shadow(0 8px 32px 0 rgba(34, 34, 34, 0.4));
      // filter: drop-shadow(0 8px 32px 0 rgba(34, 34, 34, 0.4));      

      img {
        display: block;
        margin-left: -150px;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 750px;
    height: 300px;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    color: $textColor;
    background-color: rgba(255, 255, 255, 0.8);
    // box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.4);
    border-radius: 30px;
    border: 1px solid white;
    backdrop-filter: blur(2px);
    bottom: 40px;

    h1 {
      font-size: 80px;
      margin: 10px 0;
      -webkit-filter: drop-shadow(2px 2px 2px rgba(34, 34, 34, 0.2));
      filter: drop-shadow(2px 2px 2px rgba(34, 34, 34, 0.2));
    }

    h2 {
      font-size: 45px;
      -webkit-filter: drop-shadow(2px 2px 2px rgba(34, 34, 34, 0.2));
      filter: drop-shadow(2px 2px 2px rgba(34, 34, 34, 0.2));
    }

    h3 {
      font-size: 40px;

      span {
        font-size: inherit;
        color: $mainColor;
      }
    }
  }

  a {
    position: relative;

    img {
      width: 50px;
      height: 50px;
      margin-bottom: 25px;
      animation: arrowBlink 2s infinite;
    }

    @keyframes arrowBlink {
      100% {
        opacity: 0;
      }
    }
  }
}
