@import "../../global";

.aboutMe {
  display: flex;
  flex-direction: column;
  // align-items: center;
  // justify-content: center;

  .bg {
    width: 20px;
    height: 100%;
    background-color: $mainColor;
    position: absolute;
    left: 0px;
  }

  .bg2 {
    width: 20px;
    height: 100%;
    background-color: $mainColor;
    position: absolute;
    right: 0px;
    z-index: 2;
  }

  .title {
    color: $mainColor;
    text-align: center;
    height: 42px;
  }

  .body {
    display: flex;
    flex-direction: row;

    .right {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .description {
        margin-top: 10px;
        text-align: justify;
        width: 850px;
        height: 45%;
        font-size: 24px;
        color: $textColor;
        font-weight: 300;
      }

      .title2 {
        display: flex;
        align-items: center;
        height: 50px;
        color: $mainColor;
      }

      .boxSliders {
        display: flex;
        align-items: center;
        align-items: center;
        flex-direction: column;
        width: 750px;
        height: 500px;

        .box1,
        .box2,
        .box3,
        .box4 {
          display: flex;
          align-items: center;
          justify-content: center;

          h3 {
            width: 150px;
            text-align: center;
            color: $textColor;
          }

          .slider {
            // max-width: 100%;

            img {
              max-width: 50px;
              margin: 15px;
              cursor: pointer;

              &:hover {
                transform: scale(1.2);
                -webkit-filter: drop-shadow(
                  1px 4px 1px rgba(34, 34, 34, 0.376)
                );
                filter: drop-shadow(1px 4px 1px rgba(34, 34, 34, 0.376));
              }
            }
          }
        }
      }
    }
  }
}
